.bgAfad{
  background-image: url('./images/bgAfad.png');
  background-repeat: no-repeat;
  background-size: 150px;
}
.bgKandilli{
  height: 100px;
  background-image: url('./images/bgKandilli.jpg');
  background-repeat: no-repeat;
  background-size: 150px;
}
.logo{
  width: 150px;
  height: 150px;
  margin: auto;
}